@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400");
body {
  margin: 0;
  padding: 0;
}

.hero {
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5))), url(https://images.pexels.com/photos/1216589/pexels-photo-1216589.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat center center/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.5)), url(https://images.pexels.com/photos/1216589/pexels-photo-1216589.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat center center/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.hero .text {
  width: 60vw;
  -webkit-transform: translateX(-5vw);
          transform: translateX(-5vw);
}

.hero h1 {
  font-size: 4em;
  color: #edd88f;
  font-weight: 400;
  margin-bottom: 1vh;
}

.hero h3 {
  font-size: 1.5em;
  color: #fff;
  font-weight: 300;
}

.hero h5 {
  border: 1px solid #edd88f;
  width: 10vw;
  text-align: center;
  padding: 1vh 0;
  border-radius: 35px;
  color: #fff;
  font-weight: 300;
  cursor: pointer;
  font-size: 18px;
}

.hero h5:hover {
  background: #edd88f;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.section1 {
  height: 50vh;
  width: 65vw;
  margin: 0 auto;
  -webkit-transform: translateY(-10vh);
          transform: translateY(-10vh);
  display: none;
  border: 0.5px solid #eee;
  -webkit-animation: section1 1s ease;
          animation: section1 1s ease;
}

.section1 .opt {
  width: 33.3%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
}

.section1 .opt h3 {
  color: #b9b9b9;
  text-transform: uppercase;
  font-size: 0.8em;
}

.section1 .opt h4 {
  width: 80%;
  margin: 1vh auto;
  font-size: 1.5em;
  text-align: center;
}

.section1 .opt h5 {
  border: 1px solid #eee;
  padding: 1vh 2vw;
  border-radius: 35px;
}

.section1 .opt h5:hover {
  background: #edd88f;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  color: #fff;
  border: 1px solid #edd88f;
  cursor: pointer;
}

.section1 .opt2 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(13, 60, 138, 0.88))), url(https://images.pexels.com/photos/585419/pexels-photo-585419.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) no-repeat center center/cover;
  background: linear-gradient(rgba(13, 60, 138, 0.88)), url(https://images.pexels.com/photos/585419/pexels-photo-585419.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) no-repeat center center/cover;
}

.section1 .opt2 h4 {
  color: #fff;
}

.section1 .opt2 h5 {
  color: #fff;
  background: #edd88f;
  border: 1px solid #edd88f;
}

@-webkit-keyframes section1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes section1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.who {
  height: 70vh;
  display: none;
}

.who .sectionImg {
  width: 50vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.who .sectionImg .imgBorder {
  height: 80%;
  width: 60%;
  margin: auto;
  border: 3px solid #333;
}

.who .sectionImg .imgBorder .img {
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8))), url(https://images.unsplash.com/photo-1528953030358-b0c7de371f1f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=603&q=80) no-repeat center center/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.8)), url(https://images.unsplash.com/photo-1528953030358-b0c7de371f1f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=603&q=80) no-repeat center center/cover;
  -webkit-transform: translate(-1vw, 3vh);
          transform: translate(-1vw, 3vh);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.who .sectionImg .imgBorder .img img {
  height: 70px;
}

.who .text {
  width: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.who .text h5 {
  color: #edd88f;
  text-transform: uppercase;
}

.who .text h3 {
  font-weight: 400;
  width: 80%;
}

.who .stats {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #edd88f;
  border-radius: 10px;
  height: 12vh;
}

.who .stats .stat {
  width: 33.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.who .stats .stat h2 {
  margin: 1vh auto 0.5vh;
  color: #fff;
}

.who .stats .stat h3 {
  margin: 1vh auto;
  color: #fff;
}

[data-scroll] {
  -webkit-transition: all 2s;
  transition: all 2s;
}

[data-scroll="in"] {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

[data-scroll="out"] {
  opacity: 0;
  -webkit-transform: translateX(-200vw);
          transform: translateX(-200vw);
}
/*# sourceMappingURL=main.css.map */